// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#legend{
	position: relative;
	right:-25px;
}

#url_input{
	position: relative;
    right: 150px;
}
#url_button{
	position:relative;
	right:-25px;
}
